<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">

            <div class="container">
                
                <div class="containerImg">
                    <img src="img/logo.png" alt="Logo Boolean">
                </div>
                <div class="searchBar">
                    <!-- <form action="" @submit.prevent=""> -->
                        <input v-model="newTask" type="search" id="cerca" placeholder="Inserisci la task da compiere">
                        <button id="bottoneAdd" @click="addTask()">Aggiungi</button>
                    <!-- </form> -->
                </div>

                <div class="containerTodo">

                    <div class="tabellaTodo">

                        <div class="rowTabella" :class="{taskDone: lista[index].done}" v-for="(text, index) in lista ">

                            <div class="testoTask" @click="checkDoneOrNot(index)">
                                {{lista[index].text}}
                            </div>
                            <div class="deleteTask" @click="removeRow(index)">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
            
            </div>
        
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>